body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  /* background-color: #fffdf9; */
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  border-radius: 8px !important;
  padding-inline: 20px !important;
  font-weight: 700;
  text-transform: capitalize !important;
  word-spacing: 2px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  border-radius: 8px !important;
  padding-inline: 20px !important;
  font-weight: 700;
  text-transform: capitalize !important;
  word-spacing: 2px;
}
